<div class="content_wrapper">
	<h1>Portfolio Dashboard </h1>
	<div class="left_property_area">
		<h4>Week ending on  <%= @week_ending_date %></h4>
	</div>
	<div class="right_property_area">
		<% form_tag '/dashboard/week_ending', :method => :get do %>
		Week Ending: <%= text_field_tag "date", @week_ending_date ,:class=>"datepicker"%>
		Project Status:<%= select_tag "status" , options_for_select(Project::TYPES, :selected => @project_status)%>
		<%= submit_tag "Go"%>
		<% end %>
	</div>
	<div class="clear"> </div>
	<% if @projects_dashboard.size > 0 %>
	<%= link_to "Export as Excel", export_project_dashboard_as_csv_path(Time.parse(@week_ending_date).to_i, :status => @project_status), {:id => 'export_excel'} %>
	<table class="iteration">
		<thead>
			<tr>
				<th>Project Name</th>
				<% @mandatory_metrics.each do |metric| %>
				<th><%= metric.name %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @projects_dashboard.each do |project| %>
			<tr>
				<td><%=link_to project.name, project%></td>
				<% project.iterations.first.mandatory_metrics.each do |metric| %>
				<td><div class="indicator circle <%= metric.value.downcase %>" title="<%= metric.comment %>"></div></td>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%else%>
	<h1>No Records found</h1>
	<% end %>
	<div class="clear"></div>
</div>
