<h1> Portfolio Dashboard for <%= @projects_dashboard.first.iterations.first.date%></h1>
<table>
	<thead>
		<th>Project Name</th>
		<% @projects_dashboard.first.iterations.first.mandatory_metrics.each do |metric| %>
		<th><%= metric.name %></th>
		<% end %>
	</thead>
	<tbody>
		<% @projects_dashboard.each do |project| %>
		<tr>
			<td><%=link_to project.name, project%></td>
			<% project.iterations.first.mandatory_metrics.each do |metric| %>
				<td><div class="indicator circle <%= metric.value.downcase %>" title="<%= metric.comment %>"></div></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>