<h2>Project Metrics</h2>

<% @project_template.metrics_group.each do |metric_group| %>
  <fieldset class="metric_group">
    <legend><%= metric_group.name %></legend>
    <% metric_group.data.each do |metric| %>
        <div id="<%= metric.key.gsub(/ +/,'_') %>" class="metric_field">
          <%= generate_check_box_tag(metric) %>
          <label for='project_metrics_<%= metric.key.gsub(/ +/,'_') %>'><%= metric.name %> <span><%= metric.description %></span></label>
        </div>
    <% end %>
  </fieldset>
<% end %>

<div id="additional_metrics">
	<h2>Additional Metrics</h2>
	<% @project.additional_metrics.each do |metric_data| %>
		<div id="<%= metric_data.key.gsub(/ +/,'_') %>" class="metric_field">
			<%= generate_check_box_tag(metric_data) %>
			<label for='project_metrics_<%= metric_data.key.gsub(/ +/,'_') %>'><%= metric_data.name %> <span><%= metric_data.description %></span></label>
			<%= hidden_field_tag "project[additional_metrics[#{metric_data.name}]]", metric_data.description %>
		</div>
	<% end %>
</div>
	
<div id="add_new_metric">
	<h3>Add New Metric:</h3>
	<div class='property_field'>
		<label for='add_metric_name'>Metric Name</label>
		<%= text_field_tag "Name:", nil, :id => "add_metric_name", :name => "addtional_metrics[name]" %>
  </div>
  <div class='property_field'>
		<label for='add_metric_desc'>Metric Description</label>
		<%= text_field_tag "Description:", nil, :id => "add_metric_desc", :name => "addtional_metrics[desc]" %>
    <%= button_tag "Add", :id => "add_metric" %>
  </div>
</div>