<div id="project_properties_title">
	<h3>Project Properties (click to expand/collapse)</h3>
</div>
<div id="project_properties" style="display:none">
	<%= link_to_if @project.isAlive, 'Edit Project', edit_project_path(:id => @project.id)%>
	<%=change_status_link%>
	<div>
		<% @properties.each do |property| %>
		<div id=<%="#{property[:key]}"%> class="property_field">
			<div class="left_property_area"> 
				<%= property[:name] %>
			</div>
			<div class="right_property_area">
				<%= property[:value] %>  
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="clear"></div>

