<div>
	<h3>Project Risks</h3>
	<%= link_to_if @project.isAlive, "Add New Iteration Information", new_iteration_url(@project.id, :height => 400, :width => 700),
	:class => "thickbox", :title => "Add New Iteration Information" %>
        <div class="metrics_form">
        <%= form_tag filter_metrics_path(@project.id), :method => :post do %>
        <span>Metric Filter:</span><%= select_tag "metric_filter" , options_for_select(@project.all_metrics,:selected=>@project.filtered_metrics), :multiple=>true%>
        <%= submit_tag "Go"%>
        <%end%>
        </div>
	<% unless @project.iterations.empty? %>
	<table class="iteration">
		<thead>
			<tr>
				<th>Date</th>
				<% @project.filtered_metrics.each do |metric| %>
					<th><%= metric %></th>
				<% end %>
                                <th>Notes</th>
                                <th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<% @project.iterations.each_with_index do |iteration, index| %>
			<tr>
				<td><%= iteration.date %></td>
                                <%hash=iteration.metrics_as_hash  %>
				<% @project.filtered_metrics.each do |metric| %>
                                <%current_metric=hash[metric]%>
                                <% if current_metric == "nil" %>
                                <td>
						<div class="indicator circle undefined" title="No Data Found"></div>
					</td>
                                        <%else%>
					<td>
						<div class="indicator circle <%= current_metric.value.downcase %>" title="<%= current_metric.comment %>"></div>
					</td>
                                        <%end%>
                                  
				<% end %>
                                
				
                                <% if iteration.notes %>
                                <td><div class="notes" title="<%= iteration.notes %>"></div> </td>
                                <%else%>
                                <td><div class="notes" title="No Notes To Display"></div> </td>
                                <%end%>
                                <td><%= link_to_if @project.isAlive, "Edit", edit_iteration_path(@project.id, index, :height => 400, :width => 700), :class => :thickbox, :title => "Edit Iteration Information" %>  </td>
                        </tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

</div>
<div class="clear"></div>
