<div>
	<h3>Project Metrics</h3>
	<%= link_to_if @project.isAlive, "Add New Iteration Information", new_iteration_path(@project, :height => 400, :width => 700),
	:class => "thickbox", :title => "Add New Iteration Information" %>
	<% unless @project.iterations.empty? %>
	<table class="iteration">
		<thead>
			<tr>
				<th>Date</th>
				<% @all_metrics.each do |metric| %>
					<th><%= metric %></th>
				<% end %>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<% @project.iterations.each_with_index do |iteration, index| %>
			<tr>
				<td><%= iteration.date %></td>
                                <%hash=iteration.metrics_as_hash  %>
				<% @all_metrics.each do |metric| %>
                                <%current_metric=hash[metric]%>
                                <% if current_metric == "nil" %>
                                <td>
						<div class="indicator circle undefined" title="No Data Found"></div>
					</td>
                                        <%else%>
					<td>
						<div class="indicator circle <%= current_metric.value.downcase %>" title="<%= current_metric.comment %>"></div>
					</td>
                                        <%end%>
                                  
				<% end %>
                                
				<td><%= link_to_if @project.isAlive, "Edit", edit_iteration_path(@project, index, :height => 400, :width => 700), :class => :thickbox, :title => "Edit Iteration Information" %>  </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

</div>
<div class="clear"></div>