<h3>Project Properties</h3>
<br/>
<div class='property_field'>
	<label for='project_name'>Project Name <span>Name of the Project</span></label>
  <%= text_field_tag "project[name]", @project.name %>
</div>
<% @project_template.properties_group.each do |property| %>
	<% if property.tracked == "yes" %>
		<div id ="<%=property.key.gsub(/ +/,'_')%>" class="property_field">
				<label for='project_properties_<%=property.key.gsub(/ +/,'_')%>'><%= property.name %> <span><%= property.description %></span></label>
        <%= generate_form_tag_for_property(property, form) %>
		</div>
	<% end %>
<% end %>
<div class="clear"></div>