<div>
	<h3>Project Metrics</h3>
	<%= link_to_if @project.isAlive, "Add New Iteration Information", new_iteration_path(@project, :height => 400, :width => 700),
	:class => "thickbox", :title => "Add New Iteration Information" %>
	<% unless @project.iterations.empty? %>
	<table class="iteration">
		<thead>
			<tr>
				<th>Date</th>
				<% @project.iterations.last.metrics.each do |metric| %>
					<th><%= metric.name %></th>
				<% end %>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody>
			<% @project.iterations.each_with_index do |iteration, index| %>
			<tr>
				<td><%= iteration.date %></td>
				<% iteration.metrics.each do |metric| %>
					<td>
						<div class="indicator circle <%= metric.value.downcase %>" title="<%= metric.comment %>"></div>
					</td>
				<% end %>
				<td><%= link_to_if @project.isAlive, "Edit", edit_iteration_path(@project, index, :height => 400, :width => 700), :class => :thickbox, :title => "Edit Iteration Information" %>  </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>

</div>
<div class="clear"></div>