<% form_tag update_iteration_path(@project, params[:index]) do %>
<table>
	<tbody>
		<tr>
			<td>Week Ending Date</td>
			<td><%= text_field "iteration", "date", {:class => "datepicker"} %></td>
		</tr>
		<% @iteration.metrics.each_with_index do |metric, index| %>
		<tr>
			<td><%= label metric["key"], metric["name"] %></td>
			<td>
				<%= hidden_field_tag "iteration[metrics][][name]", metric["name"] %>
				<%= select_tag "iteration[metrics][][value]", options_for_select(Metric::VALUES, :selected => metric.value) %>
			</td>
			<td><%= text_field_tag "iteration[metrics][][comment]", metric.comment %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= submit_tag "Update Iteration Information"%>
<% end %>

<script type="text/javascript">
	$(".datepicker").datepicker();
</script>