<% form_tag update_iteration_path(@project, params[:index]), :multipart => true do %>
<table>
	<tbody>
		<tr>
			<td>Week Ending Date</td>
			<td><%= text_field "iteration", "date", {:class => "datepicker"} %></td>
		</tr>
		<% @iteration.metrics.each_with_index do |metric, index| %>
		<tr>
			<td><%= label metric["key"], metric["name"] %></td>
			<td>
				<%= hidden_field_tag "iteration[metrics][][name]", metric["name"] %>
				<%= select_tag "iteration[metrics][][value]", options_for_select(Metric::VALUES, :selected => metric.value) %>
			</td>
			<td><%= text_field_tag "iteration[metrics][][comment]", metric.comment %> </td>
		</tr>
		<% end %>
	</tbody>
</table>

<div id="attachments">
	<ul>
		<% @iteration.file_attachments.each do |attachment| %>
			<li>
				<%= link_to attachment["name"], iteration_attachment_url(@project.id, params[:index], attachment["name"])%>
				--
				<%= link_to "Remove Attachment", remove_iteration_attachment_url(@project.id, params[:index], attachment["name"]), :class => "remove_attachment" %>
			</li>
		<% end %>
	</ul>
	<a class="add" href="#">Add attachment</a>	
</div>


<%= submit_tag "Update Iteration Information"%>
<% end %>

<script type="text/javascript">
	Attachment.init();
	$(".datepicker").datepicker();
	$(".remove_attachment").click(function(){
		var link = this;
		$.get(link.href, function(data){
			if("success" == data){
				$(link).parent().remove();
			}
		});
		return false;
	});
</script>