<% form_tag save_iteration_path(@project), :multipart => true do %>
    <div>
        <div class="float_left">Week Ending Date</div>
        <div class="float_left margin_left_22px"><%= text_field :iteration, :date, {:class => :datepicker} %></div>
    </div>
    <div class="clear_both margin_bottom_10px"/>

    <table>
	<tbody>
		<% @project.stuffed_metrics.each_with_index do |metric, index| %>
		<tr>
			<td><%= label metric["key"], metric["name"] %></td>
			<td>
				<%= hidden_field_tag "iteration[metrics][][name]", metric["name"] %>
				<%= select_tag "iteration[metrics][][value]", options_for_select(Metric::VALUES) %>
			</td>
            <td class="comment"><%= text_area_tag "iteration[metrics][][comment]", "", :rows => "2", :cols => "30"%></td>
		</tr>
		<% end %>
                <tr>
                  <td>Notes</td>
                  <td> <%=text_area_tag "notes" ,nil, :rows => 10, :cols => 40%> </td>
                </tr>
	</tbody>
</table>

<div id="attachments">
	<ul></ul>
	<a class="add" href="#">Add attachment</a>
</div>



<%= submit_tag "Add Iteration Information"%>
<% end %>

<script type="text/javascript">
		Attachment.init();
		$(".datepicker").datepicker();
</script>