<% form_tag save_iteration_path(@project), :multipart => true do %>
<table>
	<tbody>
		<tr>
			<td>Week Ending Date</td>
			<td><%= text_field :iteration, :date, {:class => :datepicker} %></td>
		</tr>
		<% @project.stuffed_metrics.each_with_index do |metric, index| %>
		<tr>
			<td><%= label metric["key"], metric["name"] %></td>
			<td>
				<%= hidden_field_tag "iteration[metrics][][name]", metric["name"] %>
				<%= select_tag "iteration[metrics][][value]", options_for_select(Metric::VALUES) %>
			</td>
			<td><%= text_field_tag "iteration[metrics][][comment]" %> </td>
		</tr>

		<% end %>
                <tr>
                  <td>Notes</td>
                  <td> <%=text_area_tag "notes" ,nil, :rows => 10, :cols => 40%> </td>
                </tr>
	</tbody>
</table>

<div id="attachments">
	<ul></ul>
	<a class="add" href="#">Add attachment</a>	
</div>



<%= submit_tag "Add Iteration Information"%>
<% end %>

<script type="text/javascript">
		Attachment.init();
		$(".datepicker").datepicker();
</script>