<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Pulse :: <%=@title%></title>

	<%= stylesheet_link_tag :all, :cache => true %>
	<%= javascript_include_tag ["jquery", "jquery.form", "jquery.dataTables.min", "jquery.jeditable", "jquery-ui-1.8.custom.min", "jquery.tooltip", "thickbox", "application","ui.core-min.js","ui.dropdownchecklist-min.js"], :cache => true %>
</head>
<body>
  <div id='wrapper'>
    <div id="header">
      <div id="logo">
		<div class="img"></div>
		<hr />
	  </div>
      <div id="nav_bar">
        <ul>
          <li><%= link_to "Project Dashboard", '/' , {:id=>'my_id'}%></li>
          <li><%= link_to "Create New Project", new_project_path%></li>
          <li><%= link_to "View Closed Projects", list_closed_projects_path %></li>
          <li><%= link_to "Give Feedback", give_feedback_path %></li>
          <li><%= link_to "View Feedback", feedback_path %></li>
          <li><%= link_to "Log out", logout_path %></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <div id="left_area">
      <%=yield%>
    </div>
    <div id="right_area">
      <%= render :partial => '/layouts/legend' %>
      <%= render :partial => '/project/project_list'%>
    </div>
    <div class="clear"></div>

    <div id="footer">&copy; <a href="http://www.thoughtworks.com">Thoughtworks</a>. All Rights Reserved.</div>
  </div>
</body>
</html>
