<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Pulse :: <%=@title%></title>

	<%= stylesheet_link_tag :all, :cache => true %>
	<%= javascript_include_tag ["jquery", "jquery.dataTables.min", "jquery-ui-1.8.custom.min", "jquery.tooltip", "thickbox", "application"], :cache => true %>
</head>
<body>
  <div id='wrapper'>
    <div class="header">
      <div class="logo"> <a href="/"><img src="/images/logo.png" width='284' height='120' /></a></div>
      <div class="nav_bar">
        <ul>
          <li><%= link_to "Project Dashboard",root_path %></li>
          <li><%= link_to "Metrics View", metric_view_path  %></li>
          <li><%= link_to "Create New Project", new_project_path%></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <div id="left_area">
      <%=yield%>
    </div>
    <div id="right_area">
      <%= render :partial => '/layouts/legend' %>
      <%= render :partial => '/project/project_list'%>
    </div>
    <div class="clear"></div>

    <div class="footer">&copy; <a href="http://www.thoughtworks.com">Thoughtworks</a>. All Rights Reserved.</div>
  </div>
</body>
</html>